@import url("https://fonts.googleapis.com/css?family=Space+Mono");

.calculator input,
.calc-button {
  font-family: "Space Mono";
}

* {
  box-sizing: border-box;
}

/* add some spacing */
body {
  background: #f6f6f6;
  padding-bottom: 30px;
  padding-top: 30px;
}

.calculator {
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #111;
  border-radius: 5px;
}

.calc-button {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #111; /* black border */
  padding: 20px;
  color: #eee; /* white text */
  border-radius: 5px; /* rounded corners */
  font-size: 22px;
  cursor: pointer;
}
.calculator-input {
  /*  reset basic form styles */
  background: none;
  border: none;
  box-shadow: none;
  outline: none;

  padding: 10px;
  width: 100%;
  border-bottom: 2px solid #111;
  color: #333;
  text-align: right;
  font-size: 40px;
  border-radius: 0;
}

.calculator-buttons {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-gap: 15px;
}

.is-clear,
.is-zero {
  grid-column: span 3;
}

.is-clear {
  background: #3572db;
}
.is-equals {
  background: #28d060;
}
.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
